[submodule "pufferlib"]
	path = pufferlib
	url = https://github.com/pufferai/pufferlib
	branch = 4.0
	ignore = dirty
[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware
	ignore = dirty
[submodule "tello_repo"]
	path = tello_repo
	url = https://github.com/EloiStree/2022_10_04_upm_tello_stl.git
